/* Mobile phone  (portrait) */
@media screen and (max-width: 450px) {
  body {
    background-color: green;
  }

  .header {
    /* background-color: red; */
    /* width: 400px; */
    margin: 0 auto;
    display: inline;
  }

  .header img.logo {
    padding: 20px 0 5px;
    /* background-color: red; */
    width: 350px;
    margin: 0 auto;
  }

  button {
    width: 100px;
    font-size: 0.8em;
    margin: 5px;
  }

  .container-outer {
    width: 95%;
    padding: 10px;
    margin: 0 auto;
  }
}

/* Mobile phone (landscape) */

@media screen and (max-width: 650px) {
  body {
    background-color: red;
  }
  .header {
    width: 90%;
  }

  .header > img {
    width: 80%;
  }

  button {
    width: 100px;
    font-size: 0.8em;
    margin: 5px;
  }

  .container-outer {
    width: 85%;
    margin: auto;
  }
}

/* Tablet  */
@media screen and (max-width: 1400px) {
  body {
    background-color: yellowgreen;
  }
  .header {
    width: 50%;
  }

  .header > img {
    width: 100%;
  }

  .container-outer {
    width: 50%;
    margin: auto;
  }
}
